@charset "UTF-8";
/*
    0 CSS RESET
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: baseline;
}

html, body, div, span, applet, object, iframe,
p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, q, s,
small, strike, strong, sub, sup, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: {{bodyfont}};
}

code, pre, tt, kbd, samp {
  font-family: {{monospacefont}};
  font-variant-ligatures: none;
}

code *, pre *, tt *, kbd *, samp * {
  font-family: {{monospacefont}} !important;
  font-variant-ligatures: none;
}

p code, dt code, li code, label code, legend code, caption code, th code, td code,
p tt, dt tt, li tt, label tt, legend tt, caption tt, th tt, td tt,
p kbd, dt kbd, li kbd, label kbd, legend kbd, caption kbd, th kbd, td kbd,
p samp, dt samp, li samp, label samp, legend samp, caption samp, th samp, td samp {
  font-size: {{monospacefontsize}};
}

sub, sup {
  font-size: 0.75em;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: {{headerfont}};
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: {{headerfont}};
}

blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: "";
  content: none;
}

.h2Annex {
  font-family: {{headerfont}};
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}
dl dt p, dl dd p {
  margin-top: 0;
}
dl dt {
  grid-column-start: 1;
}
dl dd {
  grid-column-start: 2;
}

b, strong {
  font-weight: bold;
}

div.document-stage-band, div.document-type-band {
  background-color: #333333;
}

a.FootnoteRef + a.FootnoteRef::before {
  content: ", ";
  vertical-align: super;
}

a.TableFootnoteRef + a.TableFootnoteRef::before {
  content: ", ";
  vertical-align: super;
}

a.TableFootnoteRef, span.TableFootnoteRef,
a.FootnoteRef, span.FootnoteRef {
  vertical-align: super;
}

.addition {
  color: blue;
}

.deletion {
  color: red;
  text-decoration: line-through;
}

ruby {
  ruby-position: over;
  -webkit-ruby-position: before;
}

ruby ruby {
  ruby-position: under;
  -webkit-ruby-position: after;
}

/* code highlighting with line numbers */
table.rouge-line-table td.rouge-gutter {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding-right: 1em;
}

table.rouge-line-table td.rouge-code {
  -moz-user-select: all;
  -ms-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}

table.rouge-line-table,
table.rouge-line-table th,
table.rouge-line-table td {
  width: auto;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

table.rouge-line-table pre {
  margin: 0;
  padding: 0;
  overflow-x: visible;
  font-size: 100%;
}

/* header § links */
a.header {
  color: inherit;
  text-decoration: none;
}

a.header:hover {
  color: #a53221 !important;
  background: inherit;
  box-shadow: none;
}

a.header:visited {
  color: inherit;
  text-decoration: none;
}

a.anchor {
  position: absolute;
  z-index: 1001;
  width: 1.5ex;
  margin-left: -1.5ex;
  display: block;
  text-decoration: none !important;
  visibility: hidden;
  text-align: center;
  font-weight: 400;
}

a.anchor::before {
  content: "§";
  font-size: 0.85em;
  display: block;
  padding-top: 0.1em;
}

a.anchor:hover {
  color: #a53221;
  background: inherit;
  box-shadow: none;
}

h1 > a.anchor:hover,
h2 > a.anchor:hover,
h3 > a.anchor:hover,
h4 > a.anchor:hover,
h5 > a.anchor:hover,
h6 > a.anchor:hover,
.inline-header > a.anchor:hover,
h1:hover > a.anchor,
h2:hover > a.anchor,
h3:hover > a.anchor,
h4:hover > a.anchor,
h5:hover > a.anchor,
h6:hover > a.anchor,
.inline-header:hover > a.anchor {
  visibility: visible;
}

/* collapsible snippets: collapsible before hidable */
.hidable {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 3px 0;
  margin: 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: "▼";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 12px;
  margin-right: 12px;
}

.active:after {
  content: "▲";
}

/* collapsible: */
.collapsible + .hidable {
  margin-top: 0;
}

.collapsible:not(.active) + .hidable {
  overflow: hidden;
  padding: 0;
}

svg {
  width: 100%;
  overflow: visible;
}

#standard-band {
  background-color: #0AC442;
}

#standard {
  border-bottom: solid 3px #0AC442;
}

#directive-band {
  background-color: #540D6E;
}

#directive {
  border-bottom: solid 3px #540D6E;
}

#guide-band {
  background-color: #D183C9;
}

#guide {
  border-bottom: solid 3px #D183C9;
}

#specification-band {
  background-color: #65AFFF;
}

#specification {
  border-bottom: solid 3px #65AFFF;
}

#report-band {
  background-color: #3A405A;
}

#report {
  border-bottom: solid 3px #3A405A;
}

#amendment-band {
  background-color: #F26430;
}

#amendment {
  border-bottom: solid 3px #F26430;
}

#corrigendum-band {
  background-color: #C84630;
}

#corrigendum {
  border-bottom: solid 3px #C84630;
}

#administrative-band {
  background-color: #BFAE48;
}

#administrative {
  border-bottom: solid 3px #BFAE48;
}

#advisory-band {
  background-color: #BD9391;
}

#advisory {
  border-bottom: solid 3px #BD9391;
}

#proposal-band {
  background-color: #39A0ED;
}

#proposal {
  border-bottom: solid 3px #39A0ED;
}

#working-draft-band {
  background-color: #2D7393;
}

#working-draft {
  border-bottom: solid 3px #2D7393;
}

#committee-draft-band {
  background-color: #2A6B7C;
}

#committee-draft {
  border-bottom: solid 3px #2A6B7C;
}

#draft-standard-band {
  background-color: #1C7F7A;
}

#draft-standard {
  border-bottom: solid 3px #1C7F7A;
}

#final-draft-band {
  background-color: #53C170;
}

#final-draft {
  border-bottom: solid 3px #53C170;
}

#published-band {
  background-color: #069E2D;
}

#published {
  border-bottom: solid 3px #069E2D;
}

#withdrawn-band {
  background-color: #004E64;
}

#withdrawn {
  border-bottom: solid 3px #004E64;
}

#cancelled-band {
  background-color: #2E382E;
}

#cancelled {
  border-bottom: solid 3px #2E382E;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  font-size: {{normalfontsize}};
  font-weight: 300;
  line-height: 1.4em;
  color: #212529;
  background-color: #ffffff;
}
body main {
  margin: 0 3em 0 6em;
}

main {
  margin: 0 3em 0 6em;
}

#toc, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) {
  font-family: {{bodyfont}};
  font-weight: 400;
}
#toc ul, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#toc ul li a, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) ul li a {
  padding: 5px 10px;
}
#toc ul a, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) ul a {
  color: #05164d;
  text-decoration: none;
  display: block;
}
#toc ul a:hover, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) ul a:hover {
  box-shadow: none;
  color: #05164d;
}
#toc .h2, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) .h2 {
  padding-left: 30px;
}
#toc .h3, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) .h3 {
  padding-left: 50px;
}
#toc .h4, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) .h4 {
  padding-left: 70px;
}
#toc .h5, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) .h5 {
  padding-left: 90px;
}
#toc .h6, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) .h6 {
  padding-left: 110px;
}
#toc .toc-active, #toc li:hover, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) .toc-active, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) li:hover {
  background: #fedc5b;
  box-shadow: inset -5px 0px 10px -5px #fedc5b !important;
}
#toc .toc-active a, #toc li:hover a, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) .toc-active a, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) li:hover a {
  color: #05164d;
}
@media print {
  #toc .toc-active, #toc li:hover, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) .toc-active, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) li:hover {
    background: white;
    box-shadow: none !important;
  }
  #toc .toc-active a, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) .toc-active a {
    color: #05164d;
  }
  #toc li:hover a, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) li:hover a {
    color: black;
  }
}
@media screen and (max-width: 768px) {
  #toc, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) {
    padding: 0 1.5em;
    overflow: visible;
  }
}
#toc .toc-active a, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) .toc-active a {
  color: #05164d;
}
#toc li a, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) li a {
  text-transform: uppercase;
}
#toc ul a:hover, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) ul a:hover {
  box-shadow: none;
  color: #05164d;
}

#toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100%;
}

@media screen and (min-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 323px;
    font-size: 0.9em;
    overflow: auto;
    padding: 0 0 0 30px;
    background-color: #f7f7f7;
  }
}
@media print {
  nav {
    position: relative;
    width: auto;
    font-size: 0.9em;
    overflow: auto;
    padding: 0;
    margin-right: 0;
    background-color: white;
  }
}

@media screen and (min-width: 768px) {
  #toggle {
    position: fixed;
    height: 100%;
    width: 30px;
    background-color: #05164D;
    color: white !important;
    cursor: pointer;
    z-index: 100;
  }
  #toggle span {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
@media screen and (max-width: 768px) {
  #toggle {
    display: none;
  }
}
@media print {
  #toggle {
    display: none;
  }
}

#myBtn {
  font-family: {{monospacefont}};
  font-variant-ligatures: none;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: #1f8ca0;
  opacity: 0.15;
  color: white;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  text-transform: uppercase;
}
#myBtn:hover {
  opacity: 1;
}
@media print {
  #myBtn {
    display: none;
  }
}
#myBtn a.anchorjs-link:hover {
  background: none;
  color: #05164d;
  box-shadow: none;
}

/*
    2. Responsive navigation layout
*/
@media screen and (min-width: 768px) {
  .container {
    padding-left: 360px;
  }
  .rule.toc {
    display: none;
  }
  h1.toc-contents {
    margin-top: 1em;
  }
  ul#toc-list, ul#toc-list > :is(.h1, .h2, .h3, .h4, .h5, .h6) {
    padding: 0;
    margin: 0;
  }
}
div.figure {
  line-height: 1.6em;
  padding: 1.5em;
  margin: 2em 0 1em 0;
  overflow: auto;
}
div.figure .FigureTitle, div.figure .figure-title {
  font-weight: 700;
  font-size: 1em;
  text-align: center;
}
div.figure > img, div.figure > svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

table div.figure {
  padding: 0;
  margin: 0;
}

/*
    Document types + stages
*/
.document-type-band {
  left: 0;
  top: 180px;
  height: 100%;
  position: fixed;
  display: block;
  z-index: 102;
}
.document-type-band > :first-child {
  position: relative;
  width: 25px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 0;
  margin-left: 6px;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  white-space: nowrap;
  display: block;
  bottom: 0;
}
@media print {
  .document-type-band {
    display: none;
  }
}
.document-type-band .document-type {
  top: 20px;
}

.document-stage-band {
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  display: block;
  z-index: 101;
  box-shadow: -5px 0px 10px #1d1d1d;
}
.document-stage-band > :first-child {
  position: relative;
  width: 25px;
  font-weight: 300;
  height: 160px;
  color: white;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 0;
  margin-left: 6px;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  white-space: nowrap;
  display: block;
  bottom: 0;
}
@media print {
  .document-stage-band {
    display: none;
  }
}

#governance-band p.document-type {
  height: 230px !important;
}

p.document-stage {
  font-weight: 300;
  height: 160px;
}

#standard-band p {
  height: 270px;
}

#proposal-band p {
  height: 150px;
}

#standard-band,
#in-force-band {
  background-color: #00AAA9;
}

#standard,
#in-force {
  border-bottom: solid 3px #00AAA9;
}

#specification {
  border-bottom: solid 3px #750697;
}

#specification-band {
  background-color: #750697;
}

#draft-proposal,
#resolution {
  border-bottom: solid 3px #48a0e7;
}

#draft-proposal-band,
#resolution-band {
  background-color: #48a0e7;
}

.coverpage-maturity {
  font-family: {{bodyfont}};
  font-weight: 400;
  font-size: 1em;
  margin: 0 0 2em 0;
  text-transform: uppercase;
}

#draft-development,
#regulation {
  border-bottom: solid 3px #F7803C;
}

#draft-development-band,
#regulation-band {
  background-color: #F7803C;
}

#draft-testing {
  border-bottom: solid 3px #fd06fd;
}

#draft-testing-band {
  background-color: #fd06fd;
}

#draft-implementation {
  border-bottom: solid 3px #fdf906;
}

#draft-implementation-band {
  background-color: #fdf906;
}

#standard {
  border-bottom: solid 3px #00AAA9;
}

#standard-band {
  background-color: #00AAA9;
}

#retired {
  border-bottom: solid 3px #7e0d13;
}

#retired-band {
  background-color: #7e0d13;
}

/*
    3. TYPOGRAPHY
*/
/*
    3.1 Titles
*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: {{headerfont}};
  color: #05164D;
  font-weight: 300;
  margin-top: 1.6em;
  margin-bottom: 0.3em;
}

h1, .h1 {
  font-size: 1.6em;
  text-transform: uppercase;
  margin-top: 2em;
}

h1#content, .h1#content {
  margin-top: 2em;
}

h2, .h2 {
  margin-top: 1.3em;
  font-size: 1.3em;
  font-weight: 400;
}

h3, .h3 {
  margin-top: 1.1em;
  font-size: 1.1em;
  font-weight: 100;
}

.TermNum,
.Terms,
.AltTerms {
  color: #05164D;
}

.TermNum {
  font-weight: 100;
}

h2.TermNum {
  margin-bottom: 0;
}

p.Terms {
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0;
}

p.AltTerms {
  /*
  font-style: italic;
    */
  font-size: 1.1em;
  margin: 0;
}

.contact-info a:hover {
  color: #05164d;
  text-decoration: underline;
  background: none;
  box-shadow: 0 0 0 0;
}

/*
  3.2 Links
*/
a, a:visited {
  text-decoration: none;
  color: #05164d;
}

a:hover {
  color: #05164d;
  background: #fedc5b;
  box-shadow: 3px 0 0 #fedc5b, -3px 0 0 #fedc5b;
}

*::selection {
  background: #fedc5b;
  color: #05164d;
}

*::-moz-selection {
  background: #fedc5b;
  color: #05164d;
}

/*
    3.3 Lists
*/
ul,
ol {
  margin-left: 1.2em;
}

ul li {
  list-style: none;
}

ul > li::before {
  content: "—";
  display: inline-block;
  width: 1em;
  margin-left: -1.2em;
}

ul > li p:first-child {
  display: inline;
}

ul > li:first-child {
  margin-top: 1em;
}

ul ul > li:first-child {
  margin-top: 0;
}

ol ul > li:first-child {
  margin-top: 0;
}

#toc-list ul {
  margin-bottom: 0.25em;
}

#toc-list li {
  list-style-type: none;
}

#toc li::before {
  content: " ";
  display: none;
}

/*
    3.4 Rules
*/
.rule {
  width: 100%;
  height: 1px;
  background-color: #0e1a85;
  margin: 2em 0;
}

/*
    3.5 Bibliograhy
*/
p.Biblio,
p.NormRef {
  margin-top: 1em;
  margin-left: 2em;
}

/*
    3.6 Source Code + figures
*/
.figure,
pre,
.pseudocode {
  background-color: #f7f7f7;
  font-size: {{monospacefontsize}};
  line-height: 1.6em;
  padding: 1.5em;
  margin: 2em 0 1em 0;
  overflow: auto;
}
.figure .SourceTitle,
pre .SourceTitle,
.pseudocode .SourceTitle {
  font-weight: 700;
  font-size: 1em;
  text-align: center;
}

pre {
  font-family: {{monospacefont}};
  font-variant-ligatures: none;
}

.AdmonitionTitle {
  font-weight: 700;
  font-size: 1em;
  text-align: center;
}

.RecommendationTitle {
  font-weight: 700;
  font-size: 1em;
  text-align: center;
}

.ListTitle {
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  text-align: left;
}

.FigureTitle,
.SourceTitle {
  font-weight: 700;
  font-size: 1em;
  text-align: center;
}

/*
    3.7 Notes
*/
.Note {
  background-color: #fedc5b;
  color: #47430c;
  padding: 1.2em;
  margin: 1em 0 1em 0;
}
.Note p {
  margin: 0;
}

.Admonition {
  background-color: #ffcccc;
  color: #47430c;
  padding: 1.2em;
  margin: 1em 0 1em 0;
}
.Admonition p {
  margin: 0;
}

/*
    3.8 Examples
*/
.example {
  background-color: #e1eef1;
  padding: 1.2em;
  margin: 2em 0 1em 0;
  text-align: left;
  color: #424242;
  padding-left: 2.7em;
}
.example p {
  margin: 0;
}
.example .example-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-left: -1.5em;
}
.example .example-title {
  margin-top: 0;
}
.example pre,
.example .pseudocode {
  background: none;
}

/*
    3.9 Tables
*/
table {
  width: 100%;
  font-weight: 300;
  margin: 1em 0 2em 0;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2em;
}
table, table th, table td {
  border: 1px solid black;
  font-size: 0.95em;
}
table th, table td {
  padding: 1em;
}
table td.header {
  font-weight: 400;
}

p.TableTitle {
  text-align: center;
  margin-top: 2.5em;
  font-weight: 400;
}

/*
  3.10 Footnotes
*/
a.footnote-number {
  vertical-align: super;
  font-size: 0.8em;
}

.footnote {
  font-size: {{footnotefontsize}};
}

/*
    3.11 Blockquotes
*/
.Quote {
  background-color: #f7f7f7;
  font-style: italic;
  width: 80%;
  padding: 1.5em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

/*
    3.12 Formulas
*/
.formula {
  background-color: #f7f7f7;
  padding: 1.5em;
  margin-top: 2em;
  text-align: center;
}

/*
    3.13 Contact Info
*/
.contact-info {
  padding: 2em;
  margin-top: 5em;
  width: 250px;
  text-align: left;
  border: #05164D solid 2px;
  color: #05164D !important;
  border-radius: 25px;
}

.contact-info a,
.contact-info a:hover {
  color: #05164D;
}

.contact-info p,
.contact-info a {
  font-family: {{monospacefont}};
  font-variant-ligatures: none;
  font-weight: 400;
}

.contact-info .name {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 0;
}

.contact-info .address {
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 0;
}

/*
    Keywords
*/
span.keyword {
  font-weight: 600;
}

/*
    Paragraphs
*/
p {
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 p, .h2 p {
  display: inline;
}

/*
    4.0 Page header
*/
/*
    4.1 Top Logo
*/
.icon-svg {
  width: 100%;
  color: #5ecf86;
}

.wrapper-top {
  background: #05164D;
  color: #ffffff;
  padding: 2em 0;
  width: 100%;
}

.wrapper-top-bottom {
  width: 0;
  height: 0;
  border-top: 100px solid #05164D;
  border-right: 100px solid transparent;
  position: absolute;
}

.doc-number {
  font-size: 0.5em;
  font-family: {{bodyfont}};
}

.coverpage-title {
  padding-bottom: 0.5em;
  font-family: {{headerfont}};
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 100;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
}

.WordSection11 {
  padding: 0 2em 0 3em;
}

.info-section {
  padding: 0 2em 0 5em;
}

.prefatory-section {
  padding: 0 3em 0 6em;
}

.zzSTDTitle1,
.MsoCommentText {
  display: none;
}

.coverpage {
  text-align: center;
  padding-left: 1.5em;
}
.coverpage img {
  height: auto;
  width: 400px;
}

.coverpage-logo span,
.coverpage-tc-name span {
  font-family: {{bodyfont}};
  text-transform: none;
  font-weight: 300;
}

.coverpage-tc-name {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0.25em 0;
}

/*
    4.2 Document Identity
*/
.coverpage-doc-identity {
  font-size: 2em;
  line-height: 2em;
}

.coverpage-title .title-second {
  display: none;
}

.coverpage-stage-block {
  font-family: {{bodyfont}};
  font-weight: 600;
  font-size: 1.25em;
  margin: 2em 0em 2em 0em;
  text-transform: uppercase;
}

/*
    4.3 Draft Warning
*/
.coverpage-warning {
  border: #f36f36 solid 2px;
  color: #f36f36 !important;
  margin: 1em 2em;
  color: #05164d;
  padding: 2em 1em 1em 1em;
  border-radius: 25px;
}

.coverpage-warning .title {
  font-family: {{headerfont}};
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2em;
}

/*
    4.4 Copyright
*/
.boilerplate-copyright {
  padding: 1em;
  font-size: 0.9em;
  text-align: left;
}

/*  .copyright .name, .copyright .address {color: #05164d;} */
/*
    5.0 Other styles
*/
/*
To top button
*/
@page {
  margin: 2cm 1cm;
}
@media print {
  .document-info,
  nav,
  .copyright {
    page-break-before: always;
  }
  nav {
    page-break-after: always;
  }
  h1,
  h2,
  h3,
  h4,
  .h1, .h2, .h3, .h4 {
    page-break-after: avoid;
    margin-top: 1.2em;
  }
  .note,
  .figure,
  pre,
  .pseudocode,
  table {
    page-break-inside: avoid;
  }
  .info-section {
    display: none;
  }
  .coverpage {
    height: 23cm;
  }
  .wrapper-top {
    top: 0;
    padding-top: 4cm;
    padding-bottom: 4cm;
  }
  .wrapper-top-bottom {
    margin-top: -5px;
  }
  button#myBtn {
    background-color: white;
  }
  .container {
    padding-left: 0;
  }
  h1.content, .h1.content {
    margin-top: 2em;
    line-height: 2.5em;
  }
  h1, .h1 {
    font-size: 1.5em;
    line-height: 1.5;
  }
  h2, .h2 {
    font-size: 1.2em;
  }
  h3, .h3 {
    font-size: 1em;
  }
  .Note {
    background-color: #fedc5b;
    color: #47430c;
    padding: 5px;
    margin: 2em 0 1em 0;
  }
  .Note p {
    padding: 0 5px 0 5px;
  }
  .Admonition {
    background-color: #ffcccc;
    color: #47430c;
    padding: 5px;
    margin: 2em 0 1em 0;
  }
  .Admonition p {
    padding: 0 5px 0 5px;
  }
  .wrapper-top-bottom {
    display: none;
  }
}


/* C7 : Added For Pre Block*/
pre.sourcecode .m, pre.sourcecode .s, pre.sourcecode .sb, pre.sourcecode .sc, pre.sourcecode .ld, pre.sourcecode .sd, pre.sourcecode .s2, pre.sourcecode .se, pre.sourcecode .sh, pre.sourcecode .si, pre.sourcecode .sx, pre.sourcecode .sr, pre.sourcecode .s1, pre.sourcecode .ss {
  color: #00009C !important;
  font-weight: 600 !important;
}
pre.sourcecode .c, pre.sourcecode .ch, pre.sourcecode .cd, pre.sourcecode .cm, pre.sourcecode .cpf, pre.sourcecode .c1 {
  color: #999999 !important;
  font-weight: 300 !important;
}

/* C7 : 객체, 속성 등 스타일 */
span.F { color: #377E47; font-weight: 550; font-style: italic; } /* Feature: 녹색 */
span.A { color: #404040; font-weight: 550; font-style: italic; } /* Attribute: 핑크 */
span.R { color: #e5721b; font-weight: 550; font-style: italic; } /* Relation: 주황색 */
span.E { color: #d32f2f; font-weight: 550; }                     /* 필수: 빨간색 */
span.D { color: #999999; font-weight: 300; font-style: italic; } /* Enum 값 설명 */
span.D::before{
  content: "(";
}
span.D::after{
  content: ")";
}


/* C7: Fonts  */
b, strong {
  font-weight: 550 !important;
}


body {
  font-weight: 400 !important;
}

/* C7 : Sytle Changes */
.active:after {
  content: "" !important;
}


.example pre,
.example .pseudocode {
  background: #efefef !important;
  /* background: #f7f7f7 !important; */
}


table {
  width: 95% !important;
  font-weight: 400 !important; // bump up 300 to 400
  margin: 0.5em 0 1em 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-right: 2em !important;
}
table, table th, table td {
  border: 1px solid black !important;
  font-size: 0.95em !important;
  background-color: #ffffff !important;
}
table th, table td {
  padding: 0.7em !important;
}


svg {
  width: 100%;
  padding-bottom: 92% !important;
  height: 1px !important;
  overflow: visible;
}


#toc li a, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) li a {
  text-transform: none !important; 
}


@media screen and (min-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 323px;
    font-size: 0.9em;
    overflow: auto;
    padding: 0 0 0 50px !important;
    background-color: #f7f7f7;
  }
}


/* C7: Headers */

h1, .h1 {
  font-size: 2.0em;
  text-transform: none !important;
  margin-top: 2em;
}

h1#content, .h1#content {
  margin-top: 2em;
}

h2, .h2 {
  margin-top: 1.3em;
  font-size: 1.8em;
  font-weight: 400 !important;
}

h3, .h3 {
  margin-top: 1.1em;
  font-size: 1.6em;
  font-weight: 600 !important;
}

  /* new */
h4, .h4 {
  margin-top: 1.1em;
  font-size: 1.2em;
  font-weight: 300;
}


/* C7: Bullet List */

ul > li::before {
  content: "• " !important;
  display: inline-block;
  width: 1em;
  margin-left: -1.2em;
}


ul ul > li::before {
  content: "◦ ";
  display: inline-block;
  width: 1em;
  margin-left: -1.2em;
}

ul ul ul > li::before {
  content: "▪ ";
  display: inline-block;
  width: 1em;
  margin-left: -1.2em;
}

ul ul ul ul > li::before {
  content: "▫ ";
  display: inline-block;
  width: 1em;
  margin-left: -1.2em;
}

/* C7: More Styles */
.wrapper-top {
  background: linear-gradient(160deg, #153f61 0%, #206c98 30%, #1fa8c4 100%) !important;
  color: #ffffff;
  padding: 3em 1em 2.5em !important;
  margin: 2em auto;
  max-width: 1000px;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  text-align: center;
  display: block;
  min-height: 420px;
  box-sizing: border-box;
}
.wrapper-top > div {
  max-width: 100%;
  width: auto;
  text-align: center;
}
.wrapper-top .coverpage-doc-identity,
.wrapper-top .coverpage-logo,
.wrapper-top .coverpage-tc-name {
  margin: 0 auto 1.2em;
  text-align: center;
}
.coverpage-title .title-first {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1em;
  line-height: 1.4;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
.coverpage-logo {
  margin-top: -330px;
  z-index: 2;
  position: relative;
}


.example {
  /* background-color: #e1eef1; */
  background-color: #f7f7f7 !important;
  padding: 1.2em;
  margin: 2em 0 1em 0;
  text-align: left;
  color: #424242;
  padding-left: 2.7em;
}
.example p {
  margin: 0;
}
.example .example-title {
  font-weight: 700;
  text-transform: none !important;
  margin-left: -1.5em;
}